<%= form_for(@cohort) do |f| %>
  <% if @cohort.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cohort.errors.count, "error") %> prohibited this cohort from being saved:</h2>

      <ul>
      <% @cohort.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row span12">
    <div class="new-payment-field text-center ">
        <div class="field top-label-element">
          <%= f.label :name, "Cohort Name" %><br>
          <%= f.text_field :name %>
        </div>
        <div class="field">
          <%= f.label :location %><br>
          <%= f.select :location, ["Miami", "Fort Lauderdale", "Miami Beach"] %>
        </div>
        <div class="field">
          <%= f.label :cohort_number, "Cohort Number" %><br>
          <%= f.number_field :cohort_number %>
        </div>
        <div class="field">
          <%= f.label :capacity %><br>
          <%= f.number_field :capacity %>
        </div>
        <div class="field">
          <%= f.label :start_date, "Start Date" %><br>
          <%= f.date_select :start_date %>
        </div>
        <div class="actions">
          <%= f.submit %>
        </div>
      <% end %>
    </div>
</div>
