<p id="notice"><%= notice %></p>
<script type="text/javascript"
        src="https://www.google.com/jsapi?autoload={
          'modules':[{
            'name':'visualization',
            'version':'1',
            'packages':['corechart']
          }]
        }"></script>

<script type="text/javascript">
    google.setOnLoadCallback(drawChart);

    function drawChart() {
      var studentHash = $('#students').data('students');
      var cohortsHash = $('#cohorts').data('cohorts');
      var unspecified = [];

      for (var i = 0; i < cohortsHash.length; i++) {
        var cohortId = cohortsHash[i].id;
        var cohortName = cohortsHash[i].name;
      }

      for (var i = 0; i < studentHash.length; i++) {
        console.log(studentHash[i].cohort_id);
        if (studentHash[i].cohort_id === null) {
          unspecified.push(studentHash[i]);
          console.log(unspecified);
        }
      }
      // Create the table
      var data = google.visualization.arrayToDataTable([
        ['Weeks Out', 'Students Registered'],
        ['15',  0.1],
        ['14',  0.13],
        ['13',  0.19],
        ['12',  0.16],
        ['11',  0.20],
        ['10',  0.40],
        ['9',  0.45],
        ['8',  0.20],
        ['7',  0.39],
        ['6',  0.61],
        ['5',  0.68],
        ['4',  0.50],
        ['3',  0.99],
        ['2',  0.90],
        ['1',  1.10],
      ]);

      // Create the table
      var data2 = google.visualization.arrayToDataTable([
        ['Weeks Out', 'Students Registered'],
        ['15',  0.1],
        ['14',  0.18],
        ['13',  0.16],
        ['12',  0.13],
        ['11',  0.20],
        ['10',  0.28],
        ['9',  0.37],
        ['8',  0.30],
        ['7',  0.42],
        ['6',  0.55],
        ['5',  0.68],
        ['4',  0.63],
        ['3',  0.78],
        ['2',  0.90],
        ['1',  1.10],
      ]);
      
      var data3 = google.visualization.arrayToDataTable([
        ['Weeks Out', 'Students Registered'],
        ['15',  0.1],
        ['14',  0.18],
        ['13',  0.16],
        ['12',  0.13],
        ['11',  0.20],
        ['10',  0.28],
        ['9',  0.37],
        ['8',  0.30],
        ['7',  0.42],
        ['6',  0.55],
        ['5',  0.68],
        ['4',  0.63],
        ['3',  0.78],
        ['2',  0.90],
        ['1',  1.10],
      ]);

      var data4 = google.visualization.arrayToDataTable([
        ['Weeks Out', 'Students Registered'],
        ['15',  0.1],
        ['14',  0.18],
        ['13',  0.16],
        ['12',  0.13],
        ['11',  0.20],
        ['10',  0.28],
        ['9',  0.37],
        ['8',  0.30],
        ['7',  0.42],
        ['6',  0.55],
        ['5',  0.68],
        ['4',  0.63],
        ['3',  0.78],
        ['2',  0.90],
        ['1',  1.10],
      ]);

      var options = {
        title: 'Miami Cohort 5 Performance',
        vAxis: { title: 'Capacity',
          gridlines: { count: 13 },
          minValue: 0,
          maxValue: 1.10,
          format: 'percent' },
        hAxis: { title: 'Weeks Out' },
        legend: { position: 'bottom' }
      };

      var options2 = {
        title: 'Miami Cohort 6 Performance',
        vAxis: { title: 'Capacity',
          gridlines: { count: 13},
          minValue: 0,
          maxValue: 1.10,
          format: 'percent' },
        hAxis: { title: 'Weeks Out' },
        legend: { position: 'bottom' }
      };

      var options3 = {
        title: 'Miami Cohort 7 Performance',
        vAxis: { title: 'Capacity',
          gridlines: { count: 13},
          minValue: 0,
          maxValue: 1.10,
          format: 'percent' },
        hAxis: { title: 'Weeks Out' },
        legend: { position: 'bottom' }
      };

      var options4 = {
        title: 'Miami Cohort 8 Performance',
        vAxis: { title: 'Capacity',
          gridlines: { count: 13},
          minValue: 0,
          maxValue: 1.10,
          format: 'percent' },
        hAxis: { title: 'Weeks Out' },
        legend: { position: 'bottom' }
      };

      var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
      var chart2 = new google.visualization.LineChart(document.getElementById('curve_chart2'));
      var chart3 = new google.visualization.LineChart(document.getElementById('curve_chart3'));
      var chart4 = new google.visualization.LineChart(document.getElementById('curve_chart4'));

      chart.draw(data, options);
      chart2.draw(data2, options2);
      chart3.draw(data3, options3);
      chart4.draw(data4, options4);
    }
  </script>

<h1>Listing Performance Charts</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @performance_charts.each do |performance_chart| %>
      <tr>
        <td><%= link_to 'Show', performance_chart %></td>
        <td><%= link_to 'Edit', edit_performance_chart_path(performance_chart) %></td>
        <td><%= link_to 'Destroy', performance_chart, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Performance chart', new_performance_chart_path %>

<%= content_tag "div", id: "students", data: { students: @students} do %>
<% end %>
<%= content_tag "div", id: "cohorts", data: { cohorts: @cohorts} do %>
<% end %>
<div id="performance_chart" style="width: 1500px">
  <div id="curve_chart" style="width: 650px; height: 350px; float: left"></div>
  <div id="curve_chart2" style="width: 650px; height: 350px; float: left"></div>
  <div id="curve_chart3" style="width: 650px; height: 350px; float: left"></div>
  <div id="curve_chart4" style="width: 650px; height: 350px; float: left"></div>
</div>
