<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="login text-center">
    <div class="field">
      <%= f.label :first_name %><br>
      <%= f.text_field :first_name %>
    </div>
    <div class="field">
      <%= f.label :last_name %><br>
      <%= f.text_field :last_name %>
    </div>
    <div class="field">
      <%= f.label :email %><br>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :phone_num, 'Phone number' %><br>
      <%= f.text_field :phone_num %>
    </div>
    <div class="field">
      <%= f.label :location %><br>
      <%= f.select :location, [["Miami"], ["Miami Beach"], ["Fort Lauderdale"]] %>
    </div>
    <div class="field">
      <%= f.label :cohort_number, 'Cohort Number' %><br>
      <%= f.number_field :cohort_number %>
    </div>
    <div class="field">
      <%= f.label :discount %><br>
      <%= f.number_field :discount, value: 0 %>
    </div>
    <div class="field">
      <%= f.label :balance %><br>
      <%= f.number_field :balance, value: 10000 %>
    </div>
    <div class="field">
      <%= f.label :notes %><br>
      <%= f.text_area :notes %>
    </div>
    <div class="field">
      <%= f.label :cohort_id %><br>
      <%= f.select :cohort_id, Cohort.all.collect { |c| [c.name, c.id] } %>
      <%#= f.number_field :cohort_id %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
</div>
<% end %>
