
<div class="table-responsive col-md-12">
  <table class="table table-striped table-hover student-list dropshadow">
    <thead>
      <tr>
        <th>Cohort</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <% if current_user.admin? %>
          <th>Balance</th>
        <% end %>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @filtered_students.each do |student| %>
        <% if student.cohort.present? %>
          <tr>
            <td><%= student.cohort.name %></td>
            <td><%= link_to "#{student.full_name}", student %></td>
            <td><%= student.email %></td>
            <td><%= number_to_phone(student.phone_num) %></td>
            <% if current_user.admin? %>
              <td><%= number_to_currency(student.balance) %></td>
              <td><%= link_to 'New Payment', new_student_payment_path(student) %></td>
              <td><%= link_to 'View Payments', student_payments_path(student) %></td>
              <td><%= link_to 'Remove Student', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
