<div class="row col-md-12">
  <div class="text-center">
    <h2 class="header-title">Students Without Cohort</h2>
  </div>
</div>

<div class="table-responsive col-md-12">
  <table class="table table-striped table-hover student-list">
    <thead>
      <tr>
        <% if current_user.admin? %>
          <th>Cohort</th>
          <th>Full Name</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Balance</th>
        <% else %>
          <th class="instructor-th">Cohort</th>
          <th class="instructor-th">Full Name</th>
          <th class="instructor-th">Email</th>
          <th class="instructor-th">Phone Number</th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @unspecified_students.each do |student| %>
        <tr>
          <% if current_user.admin? %>
            <td><%= link_to 'None', edit_student_path(student) %></td>
            <td><%= link_to "#{student.full_name}", student %></td>
            <td><%= student.email %></td>
            <td><%= number_to_phone(student.phone_num) %></td>
            <td><%= number_to_currency(student.balance) %></td>
            <td><a href="https://docs.google.com/a/wyncode.co/spreadsheets/d/1n1lLJlgHSLdfrG0zx9dDsqISUwOfne1QN9VPC8tQj1w/edit?usp=sharing" target="_blank">View Form</a></td>
            <td><%= link_to 'View Payments', student_payments_path(student) %></td>
            <td><%= link_to 'Remove Student', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% else %>
            <td class="instructor-td">None </td>
            <td class="instructor-td"><%= link_to "#{student.full_name}", student %></td>
            <td class="instructor-td"><%= student.email %></td>
            <td class="instructor-td"><%= number_to_phone(student.phone_num) %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
