<div class="row span12">
  <div class="text-center">
    <h3>Students Without Cohort</h3>
  </div>
</div>

<div class="table-responsive col-md-12">
  <table class="table table-striped table-hover student-list dropshadow">
    <thead>
      <tr>
        <th>Cohort</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <% if current_user.admin? %>
          <th>Balance</th>
        <% end %>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @unspecified_students.each do |student| %>
        <tr>
          <td><%= link_to 'Unspecified', edit_student_path(student) %></td>
          <td><%= link_to "#{student.full_name}", student %></td>
          <td><%= student.email %></td>
          <td><%= number_to_phone(student.phone_num) %></td>
          <% if current_user.admin? %>
            <td><%= number_to_currency(student.balance) %></td>
            <td><a href="https://docs.google.com/a/wyncode.co/spreadsheets/d/1n1lLJlgHSLdfrG0zx9dDsqISUwOfne1QN9VPC8tQj1w/edit?usp=sharing" target="_blank">View Form</a></td>
            <td><%= link_to 'Remove Student', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
