<!-- <p id="notice"><%= notice %></p> -->


<% nil_cohort = false %>
<% @all_students.each do |student| %>
  <% if student.cohort.present? == false %>
    <% nil_cohort = true %>
  <% end %>
<% end %>

<div class="text-center">
  <form class="student-filters">
    <%= select("cohort", "id", Cohort.all.collect {|c| [c.name, c.id ]}, {include_blank: 'Cohort'}, class: "btn", id: "student-list-btn-bckgrd") %>
      <input type="submit" value="Filter" class="btn btn-info" />
  </form>
  <form class="student-filters">
    <%= select("cohort", "location", Cohort.all.collect(&:location).uniq, {include_blank: 'Location'}, class: "btn", id: "student-list-btn-bckgrd") %>
    <input type="submit" value="Filter" class="btn btn-info" />
  </form>
  <% if current_user.admin? %>
    <form class="student-filters">
      <%= select("student", "balance", ["Outstanding", "Cleared"], {include_blank: 'Balance'}, class: "btn", id: "student-list-btn-bckgrd") %>
      <input type="submit" value="Filter" class="btn btn-info" />
    </form>
</div>

<% end %>

<% if nil_cohort == true %>
  <%= render 'unspecified_students' %>
<% end %>

<br>

<div class="row col-md-12">
  <div class="text-center">
    <div class="index-header">
      <h2 class="header-title">
      <% if @cohort_students_filter == true %>
        <%= Cohort.find(params[:cohort][:id].to_i).name %>
      <% elsif @location_students_filter == true %>
        <%= Cohort.find_by(location: params[:cohort][:location]).location %>
      <% elsif @balance_students_filter == true %>
        <%= params[:student][:balance] %>
      <% else %>
        <% if @default_students_filter == true %>
          <%= @default_cohort.name %>
        <% elsif @all_students_filter == true  %>
          All
        <% end %>
      <% end %>
      Students</h2>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <% if @all_students_filter == false %>
            <%= link_to "View All Students", students_path, class: " btn btn-info", id: "all-students-btn" %>
          <% end %>
          <% if current_user.admin? %>
            <%= link_to 'New Student', new_student_path, class: " btn btn-info", id: "new-student-add-btn" %>
          <% end %>
        </div>
        <% if @cohort_students_filter == true %>
          <h3 id="capacity" class="text-center"><strong>Capacity:</strong> <%= Cohort.find(params[:cohort][:id].to_i).capacity %> <strong>Available:</strong> <%= Cohort.find(params[:cohort][:id].to_i).capacity - Cohort.find(params[:cohort][:id].to_i).students.count %></h3>
        <% elsif @default_students_filter == true %>
          <h3 id="capacity" class="text-center"><strong>Capacity:</strong> <%= @default_cohort.capacity %> <strong>Available:</strong> <%= @default_cohort.capacity - @default_cohort.students.count %></h3>
        <% end %>
      </div>
    </div>
  </div>
</div>
<br>

<%= render 'student_collection' %>

<br>
