<!-- <p id="notice"><%= notice %></p> -->
<div class="row">
  <div id="new-student-back_btn">
    <%= link_to 'Back', root_path, class: "btn btn-info btn-text-color", id: "student-detail-back-btn" %>
  </div>
</div>

<div class="row span12">
  <div class="panel panel-default student-list-detail ">
    <div class="panel-heading">
      <strong>Cohort:</strong>
    </div>
      <div class="panel-body">
        <% if @student.cohort.present? %>
          <%= @student.cohort.name %>
        <% else %>
          Unspecified
        <% end %>
      </div>
    <div class="panel-heading">
      <strong>First name:</strong>
    </div>
      <div class="panel-body">
        <%= @student.first_name %>
      </div>
    <div class="panel-heading">
      <strong>Last name:</strong>
    </div>
      <div class="panel-body">
        <%= @student.last_name %>
      </div>
    <div class="panel-heading">
      <strong>Email:</strong>
    </div>
      <div class="panel-body">
        <%= @student.email %>
      </div>
    <div class="panel-heading">
      <strong>Phone number:</strong>
    </div>
      <div class="panel-body">
        <%= number_to_phone(@student.phone_num) %>
      </div>
    <% if current_user.admin? %>
      <div class="panel-heading">
        <strong>Discount:</strong>
      </div>
        <div class="panel-body">
          <%= number_to_currency(@student.discount) %>
        </div>
      <div class="panel-heading">
          <strong>Balace:</strong>
      </div>
      <% if @student.balance == 0 %>
        <div class="panel-body payments_color_blue">
          <%= number_to_currency(@student.balance) %>
        </div>
      <% elsif @student.balance > 0 %>
        <div class="panel-body payments_color_orange">
          <%= number_to_currency(@student.balance) %>
        </div>
      <% else %>
        <div class="panel-body">
          <%= number_to_currency(@student.balance) %>
        </div>
      <% end %>
    <% end %>
    <div class="panel-heading">
      <strong>Facebook:</strong>
    </div>
      <div class="panel-body">
        <%= @student.facebook %>
      </div>
    <div class="panel-heading">
      <strong>Twitter:</strong>
    </div>
      <div class="panel-body">
        <%= @student.twitter %>
      </div>
    <div class="panel-heading">
      <strong>LinkedIn:</strong>
    </div>
      <div class="panel-body">
        <%= @student.linkedin %>
      </div>
    <div class="panel-heading">
      <strong>Github:</strong>
    </div>
      <div class="panel-body">
        <%= @student.github %>
      </div>
    <div class="panel-heading">
      <strong>Portfolio URL:</strong>
    </div>
      <div class="panel-body">
        <%= @student.portfolio_url %>
      </div>
    <div class="panel-heading">
      <strong>Final Project URL:</strong>
    </div>
      <div class="panel-body">
        <%= @student.final_project_url %>
      </div>
    <div class="panel-heading">
      <strong>Notes:</strong>
    </div>
      <div class="panel-body">
        <%= @student.notes %>
      </div>
  </div>
</div>

<% if current_user.admin? %>
  <div class="row span12">
    <div class="text-center">
    <%= link_to 'Edit', edit_student_path(@student), class: " btn btn-info", id: "student-detail-edit-btn" %>
    </div>
  </div>
<% end %>
