<!-- <p id="notice"><%= notice %></p> -->
<div class="span12">
  <div id="new-student-back_btn">
  <%= link_to 'Back', students_path, class: " btn btn-info new-student-btn" %>
  </div>
</div>
<!-- <div class="row col-md-9 col-md-offset-3 student-list">
  <div class="panel panel-default student-list-detail"> -->
    <div class="row span12">
      <div class="panel panel-default student-list-detail ">
    <div class="panel-heading">
      <strong>Cohort:</strong>
    </div>
      <div class="panel-body">
        <%= Cohort.find(@student.cohort_id).name %>
      </div>
    <div class="panel-heading">
      <strong>First name:</strong>
    </div>
      <div class="panel-body">
        <%= @student.first_name %>
      </div>
    <div class="panel-heading">
      <strong>Last name:</strong>
    </div>
      <div class="panel-body">
        <%= @student.last_name %>
      </div>
    <div class="panel-heading">
      <strong>Email:</strong>
    </div>
      <div class="panel-body">
        <%= @student.email %>
      </div>
    <div class="panel-heading">
      <strong>Phone number:</strong>
    </div>
      <div class="panel-body">
        <%= @student.phone_num %>
      </div>
      <% if current_user.admin? %>
        <div class="panel-heading">
          <strong>Discount:</strong>
        </div>
          <div class="panel-body">
            <%= @student.discount %>
          </div>
        <div class="panel-heading">
            <strong>Balace:</strong>
        </div>
            <div class="panel-body">
              <%= @student.balance %>
            </div>
        <div class="panel-heading">
          <strong>Notes:</strong>
        </div>
          <div class="panel-body">
            <%= @student.notes %>
          </div>
      <% end %>
 </div>
</div>

<!-- <div class="row col-md-9 col-md-offset-3 edit-student"> -->
<div class="row span12">
  <div class="text-center">
  <!-- <%= link_to 'Back', students_path, class: " btn btn-info new-student-btn" %> -->
  <%= link_to 'Edit', edit_student_path(@student), class: " btn btn-info edit-student-btn" %>
  </div>
</div>
