<!-- <p id="notice"><%= notice %></p> -->

<div class="row col-md-9 col-md-offset-3 student-list">
  <div class="panel panel-default student-list-detail">
    <div class="panel-heading">
      <strong>First name:</strong>
    </div>
      <div class="panel-body">
        <%= @student.first_name %>
      </div>
    <div class="panel-heading">
      <strong>Last name:</strong>
    </div>
      <div class="panel-body">
        <%= @student.last_name %>
      </div>
    <div class="panel-heading">
      <strong>Email:</strong>
    </div>
      <div class="panel-body">
        <%= @student.email %>
      </div>
    <div class="panel-heading">
      <strong>Phone number:</strong>
    </div>
      <div class="panel-body">
        <%= @student.phone_num %>
      </div>
  <!-- <div class="student-list-detail">
      <strong>First name:</strong>
      <%= @student.first_name %>
  </div> -->
  <!-- <div class="student-list-detail">
      <strong>Last name:</strong>
      <%= @student.last_name %>
  </div> -->
  <!-- <div class="student-list-detail">
      <strong>Email:</strong>
      <%= @student.email %>
  </div> -->
  <!-- <div class="student-list-detail">
      <strong>Phone number:</strong>
      <%= @student.phone_num %>
  </div> -->
 </div>
</div>

<div class="row col-md-9 col-md-offset-3 edit-student">
  <%= link_to 'Back', students_path, class: " btn btn-info new-student-btn" %>
  <%= link_to 'Edit', edit_student_path(@student), class: " btn btn-info new-student-btn" %>
</div>
<!-- <div class="row col-md-9 col-md-offset-3 edit-student">
  <%= link_to 'Back', students_path, class: " btn btn-info new-student-btn" %>
</div> -->
