<p id="notice"><%= notice %></p>

<div class="btn-group loan-listing-back-btns" role="group">
  <button type="button" class="btn btn-info">
    <%= link_to('To Students', root_path, class: "button-color-white")%>
  </button>
  <button type="button" class="btn btn-info">
    <%= link_to('All Payments', payments_path, class: "button-color-white") %>
  </button>
</div>

<h1>Wire Payments</h1>
<div class="table-responsive col-md-8 col-md-offset-2">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Student</th>
        <th>Amount</th>
        <th>Send Date</th>
        <th>Date Received</th>
        <th>Sender</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @wires.each do |wire| %>
        <tr>
          <td><%= wire.student.first_name %> <%= wire.student.last_name %></td>
          <td><%= number_to_currency(wire.amount) %></td>
          <td><%= wire.send_date.strftime("%m/%d/%Y") %></td>
          <td><%= wire.pay_date.strftime("%m/%d/%Y") %></td>
          <td><%= wire.sender %></td>
          <td><%= link_to 'Show', wire %></td>
          <td><%= link_to 'Edit', edit_wire_path(wire) %></td>
          <td><%= link_to 'Remove', wire, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
