<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>

  <%= @wire.student.full_name %>
</p>
<p>
  <strong>Amount:</strong>
  <%= number_to_currency(@wire.amount) %>
</p>
<p>
  <strong>Send Date:</strong>
  <%= @wire.send_date.strftime("%m/%d/%Y") %>
</p>
<p>
  <strong>Date Received:</strong>
  <%= @wire.pay_date.strftime("%m/%d/%Y") %>
</p>
<p>
  <strong>Sender:</strong>
  <%= @wire.sender.upcase %>
</p>

<%= link_to 'Edit', edit_wire_path(@wire) %> |
<%= link_to 'Back', wires_path %>
