<!-- <p id="notice"><%= notice %></p> -->

<div class="container">
    <div class="row">
        <%= link_to 'Back', wires_path, class: "btn btn-info btn-text-color", id: "wire-show-back-btn-left-margin" %>
    </div>
</div>

<div class="row span12">
  <div class="new-payment-field text-center ">
    <p>
      <strong>Student:</strong>
      <%= @wire.student.full_name %>
    </p>
    <p>
      <strong>Amount:</strong>
      <%= number_to_currency(@wire.amount) %>
    </p>
    <p>
      <strong>Send Date:</strong>
      <%= @wire.send_date.strftime("%m/%d/%Y") %>
    </p>
    <p>
      <strong>Date Received:</strong>
      <%= @wire.pay_date.strftime("%m/%d/%Y") %>
    </p>
    <p>
      <strong>Sender:</strong>
      <%= @wire.sender %>
    </p>
  </div>
</div>

<div class="container">
  <div class="row text-center">
    <%= link_to 'Edit', edit_wire_path(@wire), class: "btn btn-info btn-text-color" %>
  </div>
</div>
