<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @wire.student.first_name %>
  <%= @wire.student.last_name %>
</p>
<p>
  <strong>Amount:</strong>
  <%= number_to_currency(@wire.amount) %>
</p>
<p>
  <strong>Send Date:</strong>
  <%= @wire.send_date %>
</p>
<p>
  <strong>Date Received:</strong>
  <%= @wire.pay_date %>
</p>
<p>
  <strong>Sender:</strong>
  <%= @wire.sender %>
</p>

<%= link_to 'Edit', edit_wire_path(@wire) %> |
<%= link_to 'Back', wires_path %>
