<p id="notice"><%= notice %></p>

<h1>Listing Loans</h1>

<table>
  <thead>
    <tr>
      <th>Student</th>
      <th>Amount</th>
      <th>Date Funded</th>
      <th>Company</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @loans.each do |loan| %>
      <tr>
        <td><%= loan.student.first_name %> <%= loan.student.last_name %></td>
        <td><%= number_to_currency(loan.amount) %></td>
        <td><%= loan.pay_date.strftime("%m/%d/%Y") %></td>
        <td><%= loan.company.upcase %></td>
        <td><%= loan.notes %></td>
        <td><%= link_to 'Show', loan %> | </td>
        <td><%= link_to 'Edit', edit_loan_path(loan) %> | </td>
        <td><%= link_to 'Destroy', loan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Loan', new_loan_path %>
