<!-- <p id="notice"><%= notice %></p> -->
<div class="container">
    <div class="row">
          <%= link_to 'Back', student_payments_path(@loan.student), class: "btn btn-info btn-text-color", id: "show-loans-back-btn"%>
    </div>
</div>

<div class="row span12">
  <div class="new-payment-field text-center ">
    <p>
      <strong>Student:</strong>
      <%= @loan.student.first_name %>
      <%= @loan.student.last_name %>
    </p>
    <p>
      <strong>Amount:</strong>
      <%= number_to_currency(@loan.amount) %>
    </p>
    <p>
      <strong>Company:</strong>
      <%= @loan.company %>
    </p>
    <p>
      <strong>Date Funded:</strong>
      <%= @loan.pay_date.strftime("%m/%d/%Y") %>
    </p>
    <p>
      <strong>Notes:</strong>
      <%= @loan.notes %>
    </p>
  </div>
</div>

<div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
          <%= link_to 'Edit', edit_loan_path(@loan), class: "btn btn-info btn-text-color", id: "loan-show-edit-btn" %>
      </div>
    </div>
</div>
