<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @loan.student.first_name %>
  <%= @loan.student.last_name %>
</p>
<p>
  <strong>Amount:</strong>
  <%= number_to_currency(@loan.amount) %>
</p>
<p>
  <strong>Company:</strong>
  <%= @loan.company.upcase %>
</p>
<p>
  <strong>Date Funded:</strong>
  <%= @loan.pay_date.strftime("%m/%d/%Y") %>
</p>
<p>
  <strong>Notes:</strong>
  <%= @loan.notes %>
</p>
  

<%= link_to 'Edit', edit_loan_path(@loan) %> |
<%= link_to 'Back', loans_path %>
