<h1>Create A New Payment for <%= @student.full_name %> </h1>

<form id="payment_type">
  <input type="radio" name="payment_type" value="loan">Loan<br>
  <input type="radio" name="payment_type" value="check" class="check">Check<br>
  <input type="radio" name="payment_type" value="stripe">Stripe<br>
  <input type="radio" name="payment_type" value="wire">Wire
</form>
<%#= render 'loans/form' %>
<%= render 'loans/form_for_new_loan' %>
<%#= render 'checks/form' %>
<%= render 'checks/form_for_new_check' %>
<%#= render 'stripes/form' %>
<%= render 'stripes/form_for_new_stripe' %>
<%#= render 'wires/form' %>
<%= render 'wires/form_for_new_wire' %>
