<h1>Create A New Payment for <%= Student.find(params[:id]).full_name %> </h1>

<form id="payment_type">
  <input type="radio" name="payment_type" value="loan">Loan<br>
  <input type="radio" name="payment_type" value="check" class="check">Check<br>
  <input type="radio" name="payment_type" value="stripe">Stripe<br>
  <input type="radio" name="payment_type" value="wire">Wire
</form>
<%= render 'loans/form' %>
<%= render 'checks/form' %>
<%= render 'stripes/form' %>
<%= render 'wires/form' %>
