<%= link_to 'Back to Students', students_path, class: " btn btn-info new-student-btn" %>

<h1>Create A New Payment for <%= @student.full_name %> </h1>


<div class="row">
  <div class="col-md-12">
    <div class="input-group-lg" id="payment_type">

      <!-- <form id="payment_type"> -->
        <label class="input-group-addon">
          <input type="radio" name="payment_type" value="loan">Loan<br>
        </label>
        <label class="input-group-addon">
          <input type="radio" name="payment_type" value="check" class="check">Check<br>
        </label>
        <label class="input-group-addon">
          <input type="radio" name="payment_type" value="stripe">Stripe<br>
        </label>
        <label class="input-group-addon">
          <input type="radio" name="payment_type" value="wire">Wire
        </label>
      <!-- </form> -->

    </div>
  </div>
</div>

<div id="payment_render">
  <%= render 'loans/form' %>
  <%= render 'checks/form' %>
  <%= render 'stripes/form' %>
  <%= render 'wires/form' %>
</div>

<!-- This needs to go in the payments.js file after we know how to listen for the right things.  -->
