<!-- <p id="notice"><%= notice %></p> -->

<p>
  <strong>Student:</strong>
  <%= @check.student.first_name %>
  <%= @check.student.last_name %>
</p>
<p>
  <strong>Amount:</strong>
  <%= number_to_currency(@check.amount) %>
</p>
<p>
  <strong>Date Received:</strong>
  <%= @check.pay_date.strftime("%m/%d/%Y") %>
</p>
<p>
  <strong>Deposited Date:</strong>
  <%= @check.deposited_date.strftime("%m/%d/%Y") %>
</p>
<p>
  <strong>Check Number:</strong>
  <%= @check.check_number %>
</p>
<p>
  <strong>Name on Check:</strong>
    <%= @check.name_on_check %>
  <% end %>
</p>

<%= link_to 'Edit', edit_check_path(@check) %> |
<%= link_to 'Back', checks_path %>
