<%= form_for(@stripe) do |f| %>
  <% if @stripe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stripe.errors.count, "error") %> prohibited this stripe from being saved:</h2>

      <ul>
      <% @stripe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :student_id %><br>
    <%= f.text_field :student_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
