<p id="notice"><%= notice %></p>

<div class="row">
    <div class="row back-to-students col-md-2">
      <%= link_to('Back To Students', root_path, :class => 'btn btn-large btn-info', id: "btn-text-color") %>
      <%= link_to('All Payments', payments_path, :class => 'btn btn-large btn-info', id: "btn-text-color") %>
    </div>
</div>

<h1>Listing Stripes</h1>

<div class="table-responsive col-md-12">
  <table class="table table-striped table-hover student-list">
    <thead>
      <tr>
        <th>Student</th>
        <th>Amount</th>
        <th>Pay Date</th>
        <th>Refunded?</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @stripes.each do |stripe| %>
        <tr>
          <td><%= stripe.student.full_name %></td>
          <td><%= number_to_currency(stripe.amount) %></td>
          <td><%= stripe.pay_date.strftime("%m/%d/%Y") %></td>
          <td><%= stripe.refunded %></td>
          <td><%= link_to 'Show', stripe %> | </td>
          <td><%= link_to 'Edit', edit_stripe_path(stripe) %> | </td>
          <td><%= link_to 'Destroy', stripe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
