<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @stripe.student.full_name %>
</p>
<p>
  <strong>Amount:</strong>
  <%= number_to_currency(@stripe.amount) %>
</p>
<p>
  <strong>Refunded:</strong>
  <%= @stripe.refunded.to_s.upcase %>
</p>
<p>
  <strong>Pay Date:</strong>
  <%= @stripe.pay_date.strftime("%m/%d/%Y") %>
</p>
<%= link_to 'Edit', edit_stripe_path(@stripe) %> |
<%= link_to 'Back', stripes_path %>
