<!DOCTYPE html>
<html>
<head>
  <title>GoodAdmissions</title>
  <%= stylesheet_link_tag 'application', '//fonts.googleapis.com/css?family=Rajdhani:500,700', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

  <div class="container">
    <nav class="row" id="navbar">
      <div class="col-sm-5" id="img-align">
        <a class="navbar-logo" href="/">
            <img src="http://i.imgur.com/WdXNyfs.png">
        </a>
        <h2>GoodAdmissions</h2>
      </div>
      <% if user_signed_in? %>
        <div class="btn-toolbar col-sm-7" id="button-nav-group">
          <div class="btn-group" role="group" id="navbar-btns">
            <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "btn btn-primary btn-text-color btn-info") %>
          </div>
          <% if current_user.admin? == false %>
            <div class="btn-group" role="group" id="navbar-btns">
              <%= link_to('Cohorts', cohorts_path, class: "btn btn-primary btn-text-color btn-info") %>
            </div>
          <% end %>
          <% if current_user.admin? %>
            <div class="btn-group" role="group" id="navbar-btns">
              <%= link_to('Performance', performance_charts_path, data: { no_turbolink: true }, class: "btn btn-primary btn-text-color btn-info") %>
              <%= link_to('Cohorts', cohorts_path, class: "btn btn-primary btn-text-color btn-info") %>
              <%= link_to('All Payments', payments_path, class: "btn btn-primary btn-text-color btn-info") %>
            </div>
          <% end %>
        </div>
      <% end %>
    </nav>

    <div class="row">
      <div class="alert" id="alert-message"><%= alert %></div>
      <div class="notice" id="notice-message"><%= notice %></div>

       <%= yield %>
    </div>

  </div>

  </body>
</html>
