<!DOCTYPE html>
<html>
<head>
  <title>GoodAdmissions</title>
  <%= stylesheet_link_tag 'application', '//fonts.googleapis.com/css?family=Rajdhani:500,700', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


    <nav id="navbar">
        <img src="http://i.imgur.com/WdXNyfs.png">    
      <h2>Wyncode</h2>
    </nav>


    <div class="notice"><%= notice %></div>
    <div class="alert"><%= alert %></div>
     <% if user_signed_in? %>
       <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "btn btn-info col-md-1 logout-btn") %>
       <%= yield %>
     <% else %>
       <%= yield %>
     <% end %>


  <!-- <% if notice %>
    <p class="alert alert-success col-md-2 "><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger col-md-2"><%= alert %></p>
  <% end %> -->

</body>
</html>
